<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c7ddbdcab0ba4f9596e0ac3390092f7a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_c7ddbdcab0ba4f9596e0ac3390092f7a" ></div>
        
</body>
<script>    
    
            var map_c7ddbdcab0ba4f9596e0ac3390092f7a = L.map(
                "map_c7ddbdcab0ba4f9596e0ac3390092f7a",
                {
                    center: [59.939095, 30.315868],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0647e7d3d3d348aeaa69cc6f4edb6f9e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c7ddbdcab0ba4f9596e0ac3390092f7a);
        
    
            var marker_cluster_3a744dba08864857949790a2ebdaab24 = L.markerClusterGroup(
                {}
            );
            map_c7ddbdcab0ba4f9596e0ac3390092f7a.addLayer(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var marker_225a4c73f2b147c3ac6e47bd28daa3ed = L.marker(
                [59.875447, 30.298593],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_57865f801d1042d7828e01b34bcb146c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_225a4c73f2b147c3ac6e47bd28daa3ed.setIcon(icon_57865f801d1042d7828e01b34bcb146c);
        
    
        var popup_3216a115944c42e0be88eae7fde52ece = L.popup({"maxWidth": "100%"});

        
            var html_6f7e51905ead4e09b0aebef1dbcb263f = $(`<div id="html_6f7e51905ead4e09b0aebef1dbcb263f" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12299203"target="_blank">link to news in VK</a></div>`)[0];
            popup_3216a115944c42e0be88eae7fde52ece.setContent(html_6f7e51905ead4e09b0aebef1dbcb263f);
        

        marker_225a4c73f2b147c3ac6e47bd28daa3ed.bindPopup(popup_3216a115944c42e0be88eae7fde52ece)
        ;

        
    
    
            var marker_f04b40f47b2e481caa11d229547ff500 = L.marker(
                [59.80722, 30.379514],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_60187eead21e4d88b955098199546b65 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f04b40f47b2e481caa11d229547ff500.setIcon(icon_60187eead21e4d88b955098199546b65);
        
    
        var popup_f61e80ebd64c4c1099960981fe10d896 = L.popup({"maxWidth": "100%"});

        
            var html_f1cd8047f70740429f3d13fa77176188 = $(`<div id="html_f1cd8047f70740429f3d13fa77176188" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12298195"target="_blank">link to news in VK</a></div>`)[0];
            popup_f61e80ebd64c4c1099960981fe10d896.setContent(html_f1cd8047f70740429f3d13fa77176188);
        

        marker_f04b40f47b2e481caa11d229547ff500.bindPopup(popup_f61e80ebd64c4c1099960981fe10d896)
        ;

        
    
    
            var marker_1018013ebcf5466694450ed8ac01029e = L.marker(
                [60.031175, 30.44059],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_e22aaa9b8aa84721ac14428a1a744972 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1018013ebcf5466694450ed8ac01029e.setIcon(icon_e22aaa9b8aa84721ac14428a1a744972);
        
    
        var popup_2dffc759994a42ec966ccea3b626f5b8 = L.popup({"maxWidth": "100%"});

        
            var html_7f7a42ae4beb49fdb4c17deb6dd3ed38 = $(`<div id="html_7f7a42ae4beb49fdb4c17deb6dd3ed38" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12297747"target="_blank">link to news in VK</a></div>`)[0];
            popup_2dffc759994a42ec966ccea3b626f5b8.setContent(html_7f7a42ae4beb49fdb4c17deb6dd3ed38);
        

        marker_1018013ebcf5466694450ed8ac01029e.bindPopup(popup_2dffc759994a42ec966ccea3b626f5b8)
        ;

        
    
    
            var marker_29ffa76b31ef49e39f5a15a57e9e46e9 = L.marker(
                [59.885426, 30.320072],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_9d48a3e6aa334c99823969b33b2b3e7e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_29ffa76b31ef49e39f5a15a57e9e46e9.setIcon(icon_9d48a3e6aa334c99823969b33b2b3e7e);
        
    
        var popup_fc3db975c7a346f9aa87e0a2796fa674 = L.popup({"maxWidth": "100%"});

        
            var html_2868d78e1be0408098842561f3700047 = $(`<div id="html_2868d78e1be0408098842561f3700047" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12297108"target="_blank">link to news in VK</a></div>`)[0];
            popup_fc3db975c7a346f9aa87e0a2796fa674.setContent(html_2868d78e1be0408098842561f3700047);
        

        marker_29ffa76b31ef49e39f5a15a57e9e46e9.bindPopup(popup_fc3db975c7a346f9aa87e0a2796fa674)
        ;

        
    
    
            var marker_cf4fa424ca3a4bc387d23481404d6ec7 = L.marker(
                [59.912991, 30.476011],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_e768220ce3f24798bf53af99bcc32258 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cf4fa424ca3a4bc387d23481404d6ec7.setIcon(icon_e768220ce3f24798bf53af99bcc32258);
        
    
        var popup_a3b96e14c693466cb539e1552f6cecb1 = L.popup({"maxWidth": "100%"});

        
            var html_2f8b75a2a1a34f42b2e6a2be764c5e60 = $(`<div id="html_2f8b75a2a1a34f42b2e6a2be764c5e60" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12296877"target="_blank">link to news in VK</a></div>`)[0];
            popup_a3b96e14c693466cb539e1552f6cecb1.setContent(html_2f8b75a2a1a34f42b2e6a2be764c5e60);
        

        marker_cf4fa424ca3a4bc387d23481404d6ec7.bindPopup(popup_a3b96e14c693466cb539e1552f6cecb1)
        ;

        
    
    
            var marker_d1c30d4e77d14879bbd252d890302968 = L.marker(
                [60.01888, 30.43273],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_fc809a210dba4e0e9a44d93383517954 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d1c30d4e77d14879bbd252d890302968.setIcon(icon_fc809a210dba4e0e9a44d93383517954);
        
    
        var popup_850792be02d446db8045f7e89143613f = L.popup({"maxWidth": "100%"});

        
            var html_023a2c5d330e48f6b6066a30e582caab = $(`<div id="html_023a2c5d330e48f6b6066a30e582caab" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12296569"target="_blank">link to news in VK</a></div>`)[0];
            popup_850792be02d446db8045f7e89143613f.setContent(html_023a2c5d330e48f6b6066a30e582caab);
        

        marker_d1c30d4e77d14879bbd252d890302968.bindPopup(popup_850792be02d446db8045f7e89143613f)
        ;

        
    
    
            var marker_52bf22f217b9455389077dae823dd1d3 = L.marker(
                [59.854097, 30.20109],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_12acba883ca54cd8ad0d352247dd40ff = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_52bf22f217b9455389077dae823dd1d3.setIcon(icon_12acba883ca54cd8ad0d352247dd40ff);
        
    
        var popup_9708ce3e13c74135b48087d8af85467f = L.popup({"maxWidth": "100%"});

        
            var html_80a510c2f97945a4b8c8ef9e924220a3 = $(`<div id="html_80a510c2f97945a4b8c8ef9e924220a3" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12296559"target="_blank">link to news in VK</a></div>`)[0];
            popup_9708ce3e13c74135b48087d8af85467f.setContent(html_80a510c2f97945a4b8c8ef9e924220a3);
        

        marker_52bf22f217b9455389077dae823dd1d3.bindPopup(popup_9708ce3e13c74135b48087d8af85467f)
        ;

        
    
    
            var marker_f0dbc2cc26e44c8fa9703db416367845 = L.marker(
                [59.976477, 30.402403],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_e97120a3b69d4a189c7a1767543fe589 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f0dbc2cc26e44c8fa9703db416367845.setIcon(icon_e97120a3b69d4a189c7a1767543fe589);
        
    
        var popup_3a2018790e8048e99fdf8141223557b6 = L.popup({"maxWidth": "100%"});

        
            var html_85a4c7e96226467f8c8a79a04e7b1213 = $(`<div id="html_85a4c7e96226467f8c8a79a04e7b1213" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12296555"target="_blank">link to news in VK</a></div>`)[0];
            popup_3a2018790e8048e99fdf8141223557b6.setContent(html_85a4c7e96226467f8c8a79a04e7b1213);
        

        marker_f0dbc2cc26e44c8fa9703db416367845.bindPopup(popup_3a2018790e8048e99fdf8141223557b6)
        ;

        
    
    
            var marker_167f540b773947d1bb9f4987316ed512 = L.marker(
                [59.995012, 30.148772],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_e31a49ab59f74cf3a5ca548f12fa54e0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_167f540b773947d1bb9f4987316ed512.setIcon(icon_e31a49ab59f74cf3a5ca548f12fa54e0);
        
    
        var popup_6d93a51c08c8428baa2e19fed2431a43 = L.popup({"maxWidth": "100%"});

        
            var html_7b042cc81224476b9a21f68fc44ce6ff = $(`<div id="html_7b042cc81224476b9a21f68fc44ce6ff" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12296082"target="_blank">link to news in VK</a></div>`)[0];
            popup_6d93a51c08c8428baa2e19fed2431a43.setContent(html_7b042cc81224476b9a21f68fc44ce6ff);
        

        marker_167f540b773947d1bb9f4987316ed512.bindPopup(popup_6d93a51c08c8428baa2e19fed2431a43)
        ;

        
    
    
            var marker_f85672a066e644a0a43071c17f8c3eb6 = L.marker(
                [59.938076, 30.240472],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_d5fba9dd461f4036848f598849c15491 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f85672a066e644a0a43071c17f8c3eb6.setIcon(icon_d5fba9dd461f4036848f598849c15491);
        
    
        var popup_ef3b41e455f842f4a8bc892206c5b65f = L.popup({"maxWidth": "100%"});

        
            var html_93cd45813a3c41388320e25df21832ef = $(`<div id="html_93cd45813a3c41388320e25df21832ef" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12295987"target="_blank">link to news in VK</a></div>`)[0];
            popup_ef3b41e455f842f4a8bc892206c5b65f.setContent(html_93cd45813a3c41388320e25df21832ef);
        

        marker_f85672a066e644a0a43071c17f8c3eb6.bindPopup(popup_ef3b41e455f842f4a8bc892206c5b65f)
        ;

        
    
    
            var marker_a178928d88114de58674dfd050f8291b = L.marker(
                [59.936471, 30.310155],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_73210d60007945b59cc089567db0a0cd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a178928d88114de58674dfd050f8291b.setIcon(icon_73210d60007945b59cc089567db0a0cd);
        
    
        var popup_6628d16d62d84a329c7074fcc72bac95 = L.popup({"maxWidth": "100%"});

        
            var html_544ba92d78d74079b77b1d84e3cfed77 = $(`<div id="html_544ba92d78d74079b77b1d84e3cfed77" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12295984"target="_blank">link to news in VK</a></div>`)[0];
            popup_6628d16d62d84a329c7074fcc72bac95.setContent(html_544ba92d78d74079b77b1d84e3cfed77);
        

        marker_a178928d88114de58674dfd050f8291b.bindPopup(popup_6628d16d62d84a329c7074fcc72bac95)
        ;

        
    
    
            var marker_cceba9a19b5a4df597a786ff9d16c322 = L.marker(
                [59.925958, 30.472247],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_34bae9c6016d41108840c55af246d578 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cceba9a19b5a4df597a786ff9d16c322.setIcon(icon_34bae9c6016d41108840c55af246d578);
        
    
        var popup_adc461d75188455ca3458e11bf3eec20 = L.popup({"maxWidth": "100%"});

        
            var html_5e6b91e12bd54f1cb2fffd9375340a79 = $(`<div id="html_5e6b91e12bd54f1cb2fffd9375340a79" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12295691"target="_blank">link to news in VK</a></div>`)[0];
            popup_adc461d75188455ca3458e11bf3eec20.setContent(html_5e6b91e12bd54f1cb2fffd9375340a79);
        

        marker_cceba9a19b5a4df597a786ff9d16c322.bindPopup(popup_adc461d75188455ca3458e11bf3eec20)
        ;

        
    
    
            var marker_0e87c8ebfbc54682b0ac1f10da159b73 = L.marker(
                [60.086515, 30.229019],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_5824f3f8952b468a89b156bd6afe02b7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0e87c8ebfbc54682b0ac1f10da159b73.setIcon(icon_5824f3f8952b468a89b156bd6afe02b7);
        
    
        var popup_05808473cbbf4b66951c9bb93a87c3ab = L.popup({"maxWidth": "100%"});

        
            var html_16839800c72c446493aa5d7192b5f7ff = $(`<div id="html_16839800c72c446493aa5d7192b5f7ff" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12295680"target="_blank">link to news in VK</a></div>`)[0];
            popup_05808473cbbf4b66951c9bb93a87c3ab.setContent(html_16839800c72c446493aa5d7192b5f7ff);
        

        marker_0e87c8ebfbc54682b0ac1f10da159b73.bindPopup(popup_05808473cbbf4b66951c9bb93a87c3ab)
        ;

        
    
    
            var marker_4c23989e6d244229b42a97f762fce488 = L.marker(
                [60.068754, 30.445953],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_81980630640342509d5542dd1bf873f5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4c23989e6d244229b42a97f762fce488.setIcon(icon_81980630640342509d5542dd1bf873f5);
        
    
        var popup_4a1ec0bb61e44d09a2f6e3f53424b68a = L.popup({"maxWidth": "100%"});

        
            var html_ff10e8c56f604903994de64e40569599 = $(`<div id="html_ff10e8c56f604903994de64e40569599" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12295678"target="_blank">link to news in VK</a></div>`)[0];
            popup_4a1ec0bb61e44d09a2f6e3f53424b68a.setContent(html_ff10e8c56f604903994de64e40569599);
        

        marker_4c23989e6d244229b42a97f762fce488.bindPopup(popup_4a1ec0bb61e44d09a2f6e3f53424b68a)
        ;

        
    
    
            var marker_51db289910234136bd953d2b2c4285f1 = L.marker(
                [59.850929, 29.948924],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_05c3d958af8e4b81b8b0393f6bf4bcf0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_51db289910234136bd953d2b2c4285f1.setIcon(icon_05c3d958af8e4b81b8b0393f6bf4bcf0);
        
    
        var popup_4f49d96d9dfb4686af81cb308ee4e3a8 = L.popup({"maxWidth": "100%"});

        
            var html_d0ad54c73d5b411e8c9867ab9111b6aa = $(`<div id="html_d0ad54c73d5b411e8c9867ab9111b6aa" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12295271"target="_blank">link to news in VK</a></div>`)[0];
            popup_4f49d96d9dfb4686af81cb308ee4e3a8.setContent(html_d0ad54c73d5b411e8c9867ab9111b6aa);
        

        marker_51db289910234136bd953d2b2c4285f1.bindPopup(popup_4f49d96d9dfb4686af81cb308ee4e3a8)
        ;

        
    
    
            var marker_7c4b05a0d7ea42b8af3c3663460f747f = L.marker(
                [60.006309, 30.273351],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_4eb1afe0df5f4ff68bfccf8462c9a6cb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7c4b05a0d7ea42b8af3c3663460f747f.setIcon(icon_4eb1afe0df5f4ff68bfccf8462c9a6cb);
        
    
        var popup_a5b999074dc242c284d02b72b806fb87 = L.popup({"maxWidth": "100%"});

        
            var html_b475e90b99c54dfba56a83a4b7619107 = $(`<div id="html_b475e90b99c54dfba56a83a4b7619107" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12295250"target="_blank">link to news in VK</a></div>`)[0];
            popup_a5b999074dc242c284d02b72b806fb87.setContent(html_b475e90b99c54dfba56a83a4b7619107);
        

        marker_7c4b05a0d7ea42b8af3c3663460f747f.bindPopup(popup_a5b999074dc242c284d02b72b806fb87)
        ;

        
    
    
            var marker_98e718f1e4614ff1bcaf892bbebeea1a = L.marker(
                [59.748564, 30.595648],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_e4686499170d4716a8a7dfb7acca86e3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_98e718f1e4614ff1bcaf892bbebeea1a.setIcon(icon_e4686499170d4716a8a7dfb7acca86e3);
        
    
        var popup_82943c7434854bb2b8cd11aada13f727 = L.popup({"maxWidth": "100%"});

        
            var html_385699d9f3bb49c39ef1c23e2300f3f3 = $(`<div id="html_385699d9f3bb49c39ef1c23e2300f3f3" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12295222"target="_blank">link to news in VK</a></div>`)[0];
            popup_82943c7434854bb2b8cd11aada13f727.setContent(html_385699d9f3bb49c39ef1c23e2300f3f3);
        

        marker_98e718f1e4614ff1bcaf892bbebeea1a.bindPopup(popup_82943c7434854bb2b8cd11aada13f727)
        ;

        
    
    
            var marker_69ef95624acd4a6ba55cb1de5c85c9e3 = L.marker(
                [59.846712, 30.157208],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_529eb41eb5aa4a2dbc08366bff46e2a2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_69ef95624acd4a6ba55cb1de5c85c9e3.setIcon(icon_529eb41eb5aa4a2dbc08366bff46e2a2);
        
    
        var popup_34e69c381cdd4d7c9d96cafe08ffb048 = L.popup({"maxWidth": "100%"});

        
            var html_fee7671f84a84f8b9eafe0bf44a50d32 = $(`<div id="html_fee7671f84a84f8b9eafe0bf44a50d32" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12294921"target="_blank">link to news in VK</a></div>`)[0];
            popup_34e69c381cdd4d7c9d96cafe08ffb048.setContent(html_fee7671f84a84f8b9eafe0bf44a50d32);
        

        marker_69ef95624acd4a6ba55cb1de5c85c9e3.bindPopup(popup_34e69c381cdd4d7c9d96cafe08ffb048)
        ;

        
    
    
            var marker_ab31fc1167de4a2ba381eb03885057e7 = L.marker(
                [60.017414, 30.258834],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_2dbccc97998f4f6493c036508afafffd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ab31fc1167de4a2ba381eb03885057e7.setIcon(icon_2dbccc97998f4f6493c036508afafffd);
        
    
        var popup_51f263e153f34fca98648d66c4d60169 = L.popup({"maxWidth": "100%"});

        
            var html_d43909a63baa4024935612ea8ceb572c = $(`<div id="html_d43909a63baa4024935612ea8ceb572c" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12294283"target="_blank">link to news in VK</a></div>`)[0];
            popup_51f263e153f34fca98648d66c4d60169.setContent(html_d43909a63baa4024935612ea8ceb572c);
        

        marker_ab31fc1167de4a2ba381eb03885057e7.bindPopup(popup_51f263e153f34fca98648d66c4d60169)
        ;

        
    
    
            var marker_2136f469986f43c5aaf0e88a1ba7082a = L.marker(
                [60.01539, 30.230618],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_03735d451aa1499abdddc8bc31f1517e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2136f469986f43c5aaf0e88a1ba7082a.setIcon(icon_03735d451aa1499abdddc8bc31f1517e);
        
    
        var popup_5bb07bf2a2b641ed90092e5156ecca1c = L.popup({"maxWidth": "100%"});

        
            var html_dbd9ad2ebe804fa182b12a9faf757abe = $(`<div id="html_dbd9ad2ebe804fa182b12a9faf757abe" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12294274"target="_blank">link to news in VK</a></div>`)[0];
            popup_5bb07bf2a2b641ed90092e5156ecca1c.setContent(html_dbd9ad2ebe804fa182b12a9faf757abe);
        

        marker_2136f469986f43c5aaf0e88a1ba7082a.bindPopup(popup_5bb07bf2a2b641ed90092e5156ecca1c)
        ;

        
    
    
            var marker_38995aeee71e4595927ef45dbfd4a3f0 = L.marker(
                [60.036596, 30.225758],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_bed7d05f8ecb4fc0aed50ccc55684947 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_38995aeee71e4595927ef45dbfd4a3f0.setIcon(icon_bed7d05f8ecb4fc0aed50ccc55684947);
        
    
        var popup_8e9949300c694551a8a55a9904dee47b = L.popup({"maxWidth": "100%"});

        
            var html_c6a8de6c788d4176b9fb817741c053a9 = $(`<div id="html_c6a8de6c788d4176b9fb817741c053a9" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12294046"target="_blank">link to news in VK</a></div>`)[0];
            popup_8e9949300c694551a8a55a9904dee47b.setContent(html_c6a8de6c788d4176b9fb817741c053a9);
        

        marker_38995aeee71e4595927ef45dbfd4a3f0.bindPopup(popup_8e9949300c694551a8a55a9904dee47b)
        ;

        
    
    
            var marker_82f4ed3a1544490f8b12c45a545bb056 = L.marker(
                [60.00078, 30.139807],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_b3f2c07c907c4d5892c779d88508ab15 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_82f4ed3a1544490f8b12c45a545bb056.setIcon(icon_b3f2c07c907c4d5892c779d88508ab15);
        
    
        var popup_68e07f5dd1d04760bf86e32eaef8ccd9 = L.popup({"maxWidth": "100%"});

        
            var html_63d9e1b917b2403599918363f9adb65e = $(`<div id="html_63d9e1b917b2403599918363f9adb65e" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12294045"target="_blank">link to news in VK</a></div>`)[0];
            popup_68e07f5dd1d04760bf86e32eaef8ccd9.setContent(html_63d9e1b917b2403599918363f9adb65e);
        

        marker_82f4ed3a1544490f8b12c45a545bb056.bindPopup(popup_68e07f5dd1d04760bf86e32eaef8ccd9)
        ;

        
    
    
            var marker_f48e4288b08f41689902e75346203e0e = L.marker(
                [59.875763, 30.444794],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_8716d8d6138f434dad6ddf377a248952 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f48e4288b08f41689902e75346203e0e.setIcon(icon_8716d8d6138f434dad6ddf377a248952);
        
    
        var popup_a394a9cab50f4ae19a436aa3ffa4609c = L.popup({"maxWidth": "100%"});

        
            var html_ee979e1d09b04d1a8a785fedacc956e3 = $(`<div id="html_ee979e1d09b04d1a8a785fedacc956e3" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12293802"target="_blank">link to news in VK</a></div>`)[0];
            popup_a394a9cab50f4ae19a436aa3ffa4609c.setContent(html_ee979e1d09b04d1a8a785fedacc956e3);
        

        marker_f48e4288b08f41689902e75346203e0e.bindPopup(popup_a394a9cab50f4ae19a436aa3ffa4609c)
        ;

        
    
    
            var marker_336515fe25c642a68e87aae7baa2e0d5 = L.marker(
                [59.871911, 30.391695],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_868688cc1663431cbf97ee1756879762 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_336515fe25c642a68e87aae7baa2e0d5.setIcon(icon_868688cc1663431cbf97ee1756879762);
        
    
        var popup_e165961cee584e9f91e63e896b8b197b = L.popup({"maxWidth": "100%"});

        
            var html_7d3ea3eaa21f4b28b4e47cc1cbbfabb4 = $(`<div id="html_7d3ea3eaa21f4b28b4e47cc1cbbfabb4" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12293798"target="_blank">link to news in VK</a></div>`)[0];
            popup_e165961cee584e9f91e63e896b8b197b.setContent(html_7d3ea3eaa21f4b28b4e47cc1cbbfabb4);
        

        marker_336515fe25c642a68e87aae7baa2e0d5.bindPopup(popup_e165961cee584e9f91e63e896b8b197b)
        ;

        
    
    
            var marker_5b50114b65364b5aac259ff8abe471d7 = L.marker(
                [59.99701, 30.208088],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_1d04c8d4b9ea43489eddf339d9bd2f74 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5b50114b65364b5aac259ff8abe471d7.setIcon(icon_1d04c8d4b9ea43489eddf339d9bd2f74);
        
    
        var popup_77761f7156ba4d70bfefe569012cb4be = L.popup({"maxWidth": "100%"});

        
            var html_b5b45c7dd228429b8090413774bbbcef = $(`<div id="html_b5b45c7dd228429b8090413774bbbcef" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12293789"target="_blank">link to news in VK</a></div>`)[0];
            popup_77761f7156ba4d70bfefe569012cb4be.setContent(html_b5b45c7dd228429b8090413774bbbcef);
        

        marker_5b50114b65364b5aac259ff8abe471d7.bindPopup(popup_77761f7156ba4d70bfefe569012cb4be)
        ;

        
    
    
            var marker_6caf0a0f3563441a8885f4629785b62d = L.marker(
                [59.973392, 30.378939],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_bca3d0998e1d4f90aed1208b50ac8dc2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6caf0a0f3563441a8885f4629785b62d.setIcon(icon_bca3d0998e1d4f90aed1208b50ac8dc2);
        
    
        var popup_b3c55c8d9fbc48f2997ed738f331f4c1 = L.popup({"maxWidth": "100%"});

        
            var html_5a55bb4a933545c4bdad183a7c3a775e = $(`<div id="html_5a55bb4a933545c4bdad183a7c3a775e" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12293784"target="_blank">link to news in VK</a></div>`)[0];
            popup_b3c55c8d9fbc48f2997ed738f331f4c1.setContent(html_5a55bb4a933545c4bdad183a7c3a775e);
        

        marker_6caf0a0f3563441a8885f4629785b62d.bindPopup(popup_b3c55c8d9fbc48f2997ed738f331f4c1)
        ;

        
    
    
            var marker_9cc433da619c459ca26135a17b8a59c7 = L.marker(
                [60.159089, 30.348243],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_fe0a2dd5c47f4d279eaa51448284c34e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9cc433da619c459ca26135a17b8a59c7.setIcon(icon_fe0a2dd5c47f4d279eaa51448284c34e);
        
    
        var popup_00ae770fcf7449e88a2d342977af325b = L.popup({"maxWidth": "100%"});

        
            var html_cc3c759dbc51418bbe63ebf934edb654 = $(`<div id="html_cc3c759dbc51418bbe63ebf934edb654" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12293777"target="_blank">link to news in VK</a></div>`)[0];
            popup_00ae770fcf7449e88a2d342977af325b.setContent(html_cc3c759dbc51418bbe63ebf934edb654);
        

        marker_9cc433da619c459ca26135a17b8a59c7.bindPopup(popup_00ae770fcf7449e88a2d342977af325b)
        ;

        
    
    
            var marker_a99739731dad462a85d96076db906973 = L.marker(
                [59.956097, 30.38635],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_1a865cad16b94015934bb50a3484b927 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a99739731dad462a85d96076db906973.setIcon(icon_1a865cad16b94015934bb50a3484b927);
        
    
        var popup_e45dd56ec96a49bc8d93c99c73f70ab0 = L.popup({"maxWidth": "100%"});

        
            var html_7ebed9c459024d299fee764b0070797e = $(`<div id="html_7ebed9c459024d299fee764b0070797e" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12293674"target="_blank">link to news in VK</a></div>`)[0];
            popup_e45dd56ec96a49bc8d93c99c73f70ab0.setContent(html_7ebed9c459024d299fee764b0070797e);
        

        marker_a99739731dad462a85d96076db906973.bindPopup(popup_e45dd56ec96a49bc8d93c99c73f70ab0)
        ;

        
    
    
            var marker_8c520303b6fd4b8288f74c0b527cd0b0 = L.marker(
                [59.829898, 30.346303],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_0451647e017d42879143f309904dafc6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8c520303b6fd4b8288f74c0b527cd0b0.setIcon(icon_0451647e017d42879143f309904dafc6);
        
    
        var popup_84d5b558cf494b6c806cf685cd14716f = L.popup({"maxWidth": "100%"});

        
            var html_a14ef701d6d34e409005e65aca120ade = $(`<div id="html_a14ef701d6d34e409005e65aca120ade" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12293486"target="_blank">link to news in VK</a></div>`)[0];
            popup_84d5b558cf494b6c806cf685cd14716f.setContent(html_a14ef701d6d34e409005e65aca120ade);
        

        marker_8c520303b6fd4b8288f74c0b527cd0b0.bindPopup(popup_84d5b558cf494b6c806cf685cd14716f)
        ;

        
    
    
            var marker_a0badd73d73d432daceaa4aab63ee4b2 = L.marker(
                [60.000573, 30.298576],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_6e086fbcb6c74595ae7273770135ae6a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a0badd73d73d432daceaa4aab63ee4b2.setIcon(icon_6e086fbcb6c74595ae7273770135ae6a);
        
    
        var popup_f3fc119791174f14a2b296d100977dcc = L.popup({"maxWidth": "100%"});

        
            var html_394dd4c3a8f940edb664c506434a4a74 = $(`<div id="html_394dd4c3a8f940edb664c506434a4a74" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12293475"target="_blank">link to news in VK</a></div>`)[0];
            popup_f3fc119791174f14a2b296d100977dcc.setContent(html_394dd4c3a8f940edb664c506434a4a74);
        

        marker_a0badd73d73d432daceaa4aab63ee4b2.bindPopup(popup_f3fc119791174f14a2b296d100977dcc)
        ;

        
    
    
            var marker_0fdd725cbf8b4e7fa0cdc13823313c2b = L.marker(
                [58.524431, 29.825118],
                {}
            ).addTo(marker_cluster_3a744dba08864857949790a2ebdaab24);
        
    
            var icon_4c573b2a43564df59c037205bb505d26 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0fdd725cbf8b4e7fa0cdc13823313c2b.setIcon(icon_4c573b2a43564df59c037205bb505d26);
        
    
        var popup_668a864d1d6e4980a44f73a3627cdf20 = L.popup({"maxWidth": "100%"});

        
            var html_df3692bbd563480aace6bf010fa65021 = $(`<div id="html_df3692bbd563480aace6bf010fa65021" style="width: 100.0%; height: 100.0%;"><a href="https://vk.com/spb_today?w=wall-68471405_12293032"target="_blank">link to news in VK</a></div>`)[0];
            popup_668a864d1d6e4980a44f73a3627cdf20.setContent(html_df3692bbd563480aace6bf010fa65021);
        

        marker_0fdd725cbf8b4e7fa0cdc13823313c2b.bindPopup(popup_668a864d1d6e4980a44f73a3627cdf20)
        ;

        
    
</script>